<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
</head>
<body>
{{#each sections}}
  <h1>{{name}}</h1>
  {{#each items}}
    <h2>{{name}} - {{price}}</h2>
    <h6> {{desc}}</h6>
  {{/each}}
{{/each}}
</body>
</html>